body {
  background-image:url('https://c4.wallpaperflare.com/wallpaper/637/120/863/blue-squares-wallpaper-preview.jpg');
  background-color:rgba(21, 41, 46, 0.411);
  background-blend-mode:darken;
  background-repeat:repeat-y;
  background-size:100%;
  /* position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%; */
  min-height:100%;
  font-family: 'Garamond', sans-serif;
   padding:0;
   margin:0;
}

#main-wrapper{
  display:flex;
  flex-direction:column;
  min-height:100%;
}

#root{
  flex:1;
}

error{
  position:relative;
  bottom:5px;
  color:rgb(197, 124, 124);
  font-weight:bold;
}

.error{
  padding:1px;
}

.errorContainer{
  margin-top:10px;
}

input[type="radio"]{
  cursor:pointer;
}

input[type="checkbox"]{
  cursor:pointer;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
  cursor:pointer;
}

img{
  object-fit: cover;
  object-position:top;
}

li{
  list-style:none;
}

input[type="file"] {
  width:72%;
}

label{
  font-size:20px;
  font-weight:bold;
  color:white;
}

select{
  cursor:pointer;
}

.PrizeCard input{
  width:80%;
}

button{
  cursor:pointer;
  border-radius:1000px;
  font-size:13px;
  margin-top: auto;
}

footer{
  margin-top:150px;
  /* padding:1px;
  bottom:0;
  right:0;
  left:0; */
  text-align:center;
  width:100%;
  background-color:rgba(104, 109, 124, 0.575);
}


.mainHeading{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 50px auto 5px;
  width:fit-content;
  padding:5px;
  font-weight:bold;
  font-size:2rem;
  text-align:center;
  color:rgb(255, 255, 255);
  backdrop-filter:blur(10px);
  border-radius:20px;
}

.smallerHeading{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px auto 5px;
  width:fit-content;
  padding:5px;
  font-weight:bold;
  font-size:1rem;
  text-align:center;
  color:rgb(255, 255, 255);
  backdrop-filter:blur(10px);
  border-radius:20px;
}

.loginOptionCreate {
  display:block;
  margin: 10px auto 40px;
  text-align:center;
  width:50%;
  background-color:lightblue;
  padding:0.5rem 1rem;
  border:none;
  outline:none;
  border-radius:20px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  transition:width .2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

    .loginOptionCreate:hover{
      box-shadow:1px 3px 3px 1px rgba(0,0,0,.3);
      scale:1.05;
    }

.loginOptionSignup{
  display:block;
  margin: 10px auto 40px;
  text-align:center;
  width:40%;
  background-color:lightblue;
  padding:0.5rem 1rem;
  border:none;
  outline:none;
  border-radius:20px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  transition:width .2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

    .loginOptionSignup:hover{
      box-shadow:1px 3px 3px 1px rgba(0,0,0,.3);
      scale:1.05;
    }

.loginOptionLogin{
  display:block;
  margin: 10px auto 40px;
  text-align:center;
  width:25%;
  background-color:lightblue;
  padding:0.5rem 1rem;
  border:none;
  outline:none;
  border-radius:20px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  transition:width .2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

    .loginOptionLogin:hover{
      box-shadow:1px 3px 3px 1px rgba(0,0,0,.3);
      scale:1.05;
    }
    
.HomeContainer{
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  column-gap:15px;
  width:90%;
  margin-bottom:20px;
  justify-content:center;
  align-items:center;
}

.signupPicture{
  mix-blend-mode:multiply;
  height:150px;
  width:150px;
  background-color:#CDCDCD;
  border: 2px solid #CDCDCD;
}

.UserInfo{
  margin:40px auto;
  display:block;
  text-align:center;
}

.HomeImage{
  height:200px;
  width:200px;
  border-radius:30px;
}

.ChoreSection{
  display:inline-block;
  /* max-width:70%; */
  margin:auto;
}

.ChoreContainer{
  display:flex;
  flex-direction:row;
  column-gap:15px;
  padding: 0 30px;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  text-align:center;
  row-gap:20px;
}

.ChoreCard{
  border-radius: 5px;
  padding:10px;
  color:rgba(234, 236, 250, 0.884);
  box-shadow: 3px 6px 6px 3px rgba(0, 0, 0, 0.5);
  backdrop-filter:blur(5px);
  display:flex;
  justify-content:center;
  align-items:center;
  flex: 1;
  min-width:250px;
  min-height:300px;
  max-width:300px;
  position:relative;
  transition:.4s;
}



.ChoreCardAccepted{
  background-color:rgba(0, 128, 53, 0.575);
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
  padding:10px;
  backdrop-filter:blur(5px);
  display:flex;
  justify-content:center;
  align-items:center;
  flex: 1;
  min-width:250px;
  min-height:300px;
  max-width:300px;
  position:relative;
}

.ChoreCardRejected{
  background-color:rgba(255, 0, 0, 0.486);
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
  padding:10px;
  backdrop-filter:blur(5px);
  display:flex;
  justify-content:center;
  align-items:center;
  flex: 1;
  min-width:250px;
  min-height:300px;
  max-width:300px;
  position:relative;
}

.cardButton{
  font-family:'garamond', sans-serif;
  position:sticky;
  display:block;
  margin-bottom:5px;
  left:0;
  right:0;
  margin:auto;
  width:80%;
  padding:5px;
  background-color:rgba(42, 115, 179, 0.74);
  border-radius:15px;
  cursor:pointer;
  font-size:17px;
  color:white;
  transition:.3s;
  border:none;
}

.deleteButton{
  position:sticky;
  margin-bottom:5px;
  display:block;
  left:0;
  right:0;
  bottom:5px;
  margin:auto;
  width:75%;
  padding:10px;
  background-color:rgba(221, 22, 22, 0.5);
  border-radius:20px;
  cursor:pointer;
  font-size:17px;
  transition:.3s
}

    .cardButton:hover{
      transform:scale(1.05);
      background-color:rgba(125, 162, 194, 0.5);
    }

    .deleteButton:hover{
      transform:scale(1.05);
      background-color:rgba(207, 118, 118, 0.5);
    }



.ChorePicture{
  width:100px;
  height:100px;
  border-radius:10px;
  margin: 5px auto;
  display:block;

}

.heading{
  margin: 50px auto 5px;
  width:fit-content;
  padding:5px;
  font-weight:bold;
  font-size:2rem;
  text-align:center;
  color:rgb(255, 255, 255);
  backdrop-filter:blur(10px);
  border-radius:20px;
}

.points{
  margin: 10px auto 5px;
  width:fit-content;
  padding:5px;
  font-weight:bold;
  font-size:2rem;
  text-align:center;
  color:rgb(255, 255, 255);
  backdrop-filter:blur(5px);
  border-radius:20px;
}



.delete{
  position:absolute;
  right:1px;
  top:1px;
  color:rgb(255, 0, 0);
  border:none;
  background-color:rgba(34, 34, 145, 0.699);
  font-size:20px;
  transition:.3s;
}

    .delete:hover{
      transform:scale(1.1);
      background-color:rgba(207, 195, 195, 0.795);
    }

.UserContainer{
  display:flex;
  flex-direction:row;
  column-gap:15px;
  padding: 0 30px;
  flex-wrap:wrap;
  justify-content:center;
  text-align:center;
  row-gap:20px;
}

.userCard{
  backdrop-filter:blur(5px);
  color:rgba(234, 236, 250, 0.884);
  border-radius: 25px;
  min-width:175px;
  box-shadow: 3px 6px 8px 3px rgba(0,0,0,0.4);
  transition: 0.3s;
  margin-top:10px;
  margin-right:10px;
  text-align:center;
  position:relative;
  z-index:2;
  display:flex;
  padding:10px;
  column-gap:20px;
}

.adminCard{
  backdrop-filter:blur(5px);
  color:rgba(234, 236, 250, 0.884);
  border-radius: 25px;
  min-width:175px;
  box-shadow: 3px 6px 8px 3px rgba(0,0,0,0.4);
  transition: 0.3s;
  margin-top:10px;
  margin-right:10px;
  text-align:center;
  position:relative;
  z-index:2;
}

.UserPicture{
  width:100px;
  height:100px;
  cursor:default;
  border-radius:10px;
  display:block;
  margin:5px auto;
  padding:5px;
  border-radius:10px;
}

.userChoreImages{
  width:75px;
  height:75px;
}

.userChoreContainer{
  display:flex;
  column-gap:15px;
  justify-content:center;
}

.PrizeContainer{
  display:flex;
  flex-direction:row;
  column-gap:15px;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  text-align:center;
}

@media(max-width:720px){
  .PrizeCard{
      border-radius: 5px;
      color:rgba(234, 236, 250, 0.884);
      box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
      backdrop-filter:blur(5px);
      display:inline-block;
      justify-content:center;
      align-items:center;
      flex: 1;
      min-width:100px;
      min-height:200px;
      max-width:300px;
  }

  .PageHeading{
    display:block;
    margin: 40px auto 40px;
    text-align:center;
    width:50%;
    background-color:lightblue;
    padding:0.5rem 1rem;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:width .2s cubic-bezier(0.075, 0.82, 0.165, 1)
  }
}

@media(min-width:721px){
  .PrizeCard{
    border-radius: 5px;
    color:rgba(234, 236, 250, 0.884);
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter:blur(5px);
    display:inline-block;
    justify-content:center;
    align-items:center;
    flex: 1;
    min-width:100px;
    min-height:200px;
    max-width:300px;
  }

  .PageHeading{
    display:block;
    margin: 40px auto 40px;
    text-align:center;
    width:30%;
    background-color:lightblue;
    padding:0.5rem 1rem;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:width .2s cubic-bezier(0.075, 0.82, 0.165, 1)
  }
  
}


    .PageHeading:hover{
      box-shadow:1px 3px 3px 1px rgba(0,0,0,.3);
      scale:1.05;
    }



.PrizePicture{
  width:100px;
  height:100px;
  border-radius:10px;
  margin: 5px auto;
  display:block;
}

.newChoreForm{
  width:min-content;
  margin:40px auto;
  backdrop-filter:blur(10px);
  border-radius:10px;
  box-shadow:1px 3px 3px 1px rgba(0, 0, 0, 0.5);
  text-align:center;
  min-width:250px;
  min-height:350px;
}

.newRepeatChoreForm{
  width:min-content;
  margin:40px auto;
  backdrop-filter:blur(10px);
  border-radius:10px;
  box-shadow:1px 3px 3px 1px rgba(0, 0, 0, 0.5);
  text-align:center;
  min-width:250px;
  min-height:350px;
}

.newPrizeForm{
  width:min-content;
  margin:40px auto;
  backdrop-filter:blur(10px);
  border-radius:10px;
  box-shadow:1px 3px 3px 1px rgba(0, 0, 0, 0.5);
  text-align:center;
  min-width:250px;
  min-height:310px;
}

header{
  position:relative;
  padding:0 2rem;
}

.NavBar{
  width:100%;
  height:60%;
  max-width:1200px;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.NavBar .NavLinks{
  display:flex;
  gap:2rem;
}

.Intro{
  display:block;
  color:white;
  backdrop-filter:blur(5px);
  border:none;
  outline:none;
  border-radius:20px;
}

.NavOption{
  color:white;
}

.LogoutButton{
  background-color:lightblue;
  padding:0.5rem 1rem;
  border:none;
  outline:none;
  border-radius:20px;
  font-size:1.2rem;
  font-weight:bold;
  cursor:pointer;
}

    .LogoutButton:hover{
      scale:1.05;
    }

.NavBars{
  color:white;
  font-size:2rem;
  cursor:pointer;
  display:none;
}
    .NavOption.active{
      scale:1.05;
      color:rgba(197, 198, 207, 0.8);
      font-weight:bold;
    }

    .NavOption:hover{
      color:orange;
      transform:scale(1.05);
    }

.return{
  position:absolute;
  top:5px;
  left:5px;
  font-weight:bold;
  cursor:pointer;
}

    .return:hover{
      transform:scale(1.05)
    }

.confirmPassword input[type="text"]{
  background-color:aqua;
}    

.incorrectPassword input[type="text"]{
  background-color:aqua;
}

.noPassword input[type="text"]{
  background-color:aqua;
}

.loginCard{
  width:min-content;
  height:min-content;
  padding:20px;
  margin:40px auto;
  backdrop-filter:blur(10px);
  border-radius:10px;
  box-shadow:1px 3px 3px 1px rgba(0, 0, 0, 0.5);
  text-align:center;
  min-width:250px;

}


/*DropDown Menu*/

.dropdownMenu{
  position:absolute;
  font-size:17px;
  right:2rem;
  top:60px;
  width:300px;
  height:0;
  background:rgba(132, 143, 182, 0.4);
  box-shadow:1px 3px 3px rgba(0, 0, 0, 0.15);
  backdrop-filter:blur(10px);
  border-radius:15px;
  overflow:hidden;
  display:none;
  transition:height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom:1px;
  z-index:3;
}

  .dropdownMenu:NavLink{
    text-decoration:none
  }

.dropdownMenu.open{
  height:265px;
}

.dropdownMenu li{
  padding:0.7rem;
  display:flex;
  align-items:center;
  justify-content:center;
}

.dropdownMenu .LogoutButton{
  width:100%;
  display:flex;
  justify-content:center;
}

/*Responsive NavBar*/

@media(max-width:720px){
  .NavBar .NavLinks,
  .NavBar .LogoutButton{
    display:none;
  }

  .NavBar .NavBars{
    display:block;
  }

  .dropdownMenu{
    display:block;
  }

  
}

@media(max-width:576px){
  .dropdownMenu{
    left:2rem;
    width:unset;
  }
}